In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
mental_health_survey = pd.read_csv('../data/Indicators_of_Anxiety_or_Depression_Based_on_Reported_Frequency_of_Symptoms_During_Last_7_Days (4).csv')

In [3]:
#filter for data from april 2020 to april 2023
mental_health_survey = mental_health_survey.loc[mental_health_survey['Time Period'] <= 57]
mental_health_survey

,Indicator,Group,State,Subgroup,Phase,Time Period,Time Period Label,Time Period Start Date,Time Period End Date,Value,Low CI,High CI,Confidence Interval,Quartile Range
0,Symptoms of Depressive Disorder,National Estimate,United States,United States,1,1,"Apr 23 - May 5, 2020",04/23/2020,05/05/2020,23.5,22.7,24.3,22.7 - 24.3,NaN
1,Symptoms of Depressive Disorder,By Age,United States,18 - 29 years,1,1,"Apr 23 - May 5, 2020",04/23/2020,05/05/2020,32.7,30.2,35.2,30.2 - 35.2,NaN
2,Symptoms of Depressive Disorder,By Age,United States,30 - 39 years,1,1,"Apr 23 - May 5, 2020",04/23/2020,05/05/2020,25.7,24.1,27.3,24.1 - 27.3,NaN
3,Symptoms of Depressive Disorder,By Age,United States,40 - 49 years,1,1,"Apr 23 - May 5, 2020",04/23/2020,05/05/2020,24.8,23.3,26.2,23.3 - 26.2,NaN
4,Symptoms of Depressive Disorder,By Age,United States,50 - 59 years,1,1,"Apr 23 - May 5, 2020",04/23/2020,05/05/2020,23.2,21.5,25.0,21.5 - 25.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13198,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Virginia,Virginia,3.8,57,"Apr 26 - May 8, 2023",04/26/2023,05/08/2023,29.7,26.0,33.7,26.0 - 33.7,23.6-29.7
13199,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Washington,Washington,3.8,57,"Apr 26 - May 8, 2023",04/26/2023,05/08/2023,31.2,28.2,34.3,28.2 - 34.3,29.8-31.5
13200,Symptoms of Anxiety Disorder or Depressive Dis...,By State,West Virginia,West Virginia,3.8,57,"Apr 26 - May 8, 2023",04/26/2023,05/08/2023,33.2,26.3,40.8,26.3 - 40.8,31.6-34.5
13201,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Wisconsin,Wisconsin,3.8,57,"Apr 26 - May 8, 2023",04/26/2023,05/08/2023,27.5,23.9,31.3,23.9 - 31.3,23.6-29.7
13202,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Wyoming,Wyoming,3.8,57,"Apr 26 - May 8, 2023",04/26/2023,05/08/2023,34.1,28.6,40.1,28.6 - 40.1,31.6-34.5

In [4]:
mental_health_survey.describe()

        Time Period         Value        Low CI       High CI
count  13203.000000  12582.000000  12582.000000  12582.000000
mean      28.406953     29.760436     26.118050     33.649173
std       17.202252      8.188520      7.970988      8.608858
min        1.000000      6.400000      4.500000      7.900000
25%       13.000000     24.200000     20.700000     27.900000
50%       29.000000     29.100000     25.400000     33.100000
75%       43.000000     34.400000     30.600000     38.500000
max       57.000000     82.000000     73.600000     88.800000

In [5]:
mental_health_survey.columns

Index(['Indicator', 'Group', 'State', 'Subgroup', 'Phase', 'Time Period',
       'Time Period Label', 'Time Period Start Date', 'Time Period End Date',
       'Value', 'Low CI', 'High CI', 'Confidence Interval', 'Quartile Range'],
      dtype='object')

In [6]:
mental_health_survey['Group'].unique()

array(['National Estimate', 'By Age', 'By Sex',
       'By Race/Hispanic ethnicity', 'By Education', 'By State',
       'By Disability status', 'By Gender identity',
       'By Sexual orientation'], dtype=object)

In [7]:
mental_health_survey['Indicator'].unique()

array(['Symptoms of Depressive Disorder', 'Symptoms of Anxiety Disorder',
       'Symptoms of Anxiety Disorder or Depressive Disorder'],
      dtype=object)

In [8]:
mental_health_survey['Group'].unique()

array(['National Estimate', 'By Age', 'By Sex',
       'By Race/Hispanic ethnicity', 'By Education', 'By State',
       'By Disability status', 'By Gender identity',
       'By Sexual orientation'], dtype=object)

In [9]:
# dropped columns not needed
mental_health_survey = mental_health_survey[['Indicator', 'Group', 'State', 'Subgroup', 'Phase', 'Time Period',
       'Time Period Label', 'Time Period Start Date', 'Time Period End Date',
       'Value']]

In [10]:
mental_health_survey.dtypes

Indicator                  object
Group                      object
State                      object
Subgroup                   object
Phase                      object
Time Period                 int64
Time Period Label          object
Time Period Start Date     object
Time Period End Date       object
Value                     float64
dtype: object

In [11]:
# changed 'Time Period Start Date' column to date time data type from oject 
mental_health_survey['Time Period Start Date'] = pd.to_datetime(mental_health_survey['Time Period Start Date'])

C:\Users\Roaa\AppData\Local\Temp\ipykernel_31072\4081912926.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mental_health_survey['Time Period Start Date'] = pd.to_datetime(mental_health_survey['Time Period Start Date'])

In [12]:
#changed 'Time Period End Date' column to date time data type from oject 
mental_health_survey['Time Period End Date'] = pd.to_datetime(mental_health_survey['Time Period End Date'])

C:\Users\Roaa\AppData\Local\Temp\ipykernel_31072\3612650403.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mental_health_survey['Time Period End Date'] = pd.to_datetime(mental_health_survey['Time Period End Date'])

In [13]:
# replacing for consistency. Confirmed these fall under phase 3.0
phase_mapping = {
    '3 (Oct 28 - Dec 21)': '3',
    '3 (Jan 6 - Mar 29)': '3'}

In [14]:
mental_health_survey['Phase'] = mental_health_survey['Phase'].replace(phase_mapping)

C:\Users\Roaa\AppData\Local\Temp\ipykernel_31072\3920451747.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mental_health_survey['Phase'] = mental_health_survey['Phase'].replace(phase_mapping)

In [15]:
#changing the data type of the phase colun to a float 
mental_health_survey['Phase'] = mental_health_survey['Phase'].astype(float)

C:\Users\Roaa\AppData\Local\Temp\ipykernel_31072\1625970619.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mental_health_survey['Phase'] = mental_health_survey['Phase'].astype(float)

In [16]:
mental_health_survey.dtypes

Indicator                         object
Group                             object
State                             object
Subgroup                          object
Phase                            float64
Time Period                        int64
Time Period Label                 object
Time Period Start Date    datetime64[ns]
Time Period End Date      datetime64[ns]
Value                            float64
dtype: object

In [17]:
#looking for missing values 
mental_health_survey.isna().sum()

Indicator                   0
Group                       0
State                       0
Subgroup                    0
Phase                       0
Time Period                 0
Time Period Label           0
Time Period Start Date      0
Time Period End Date        0
Value                     621
dtype: int64

In [18]:
#investigated nans and found that survey was not sent out during those dates ( dates in between phases)
mental_health_survey[mental_health_survey['Value'].isna()]

,Indicator,Group,State,Subgroup,Phase,Time Period,Time Period Label,Time Period Start Date,Time Period End Date,Value
2520,Symptoms of Depressive Disorder,National Estimate,United States,United States,-1.0,1,"July 22 - Aug 18, 2020",2020-07-22,2020-08-18,NaN
2521,Symptoms of Depressive Disorder,By Age,United States,18 - 29 years,-1.0,1,"July 22 - Aug 18, 2020",2020-07-22,2020-08-18,NaN
2522,Symptoms of Depressive Disorder,By Age,United States,30 - 39 years,-1.0,1,"July 22 - Aug 18, 2020",2020-07-22,2020-08-18,NaN
2523,Symptoms of Depressive Disorder,By Age,United States,40 - 49 years,-1.0,1,"July 22 - Aug 18, 2020",2020-07-22,2020-08-18,NaN
2524,Symptoms of Depressive Disorder,By Age,United States,50 - 59 years,-1.0,1,"July 22 - Aug 18, 2020",2020-07-22,2020-08-18,NaN
...,...,...,...,...,...,...,...,...,...,...
11950,Symptoms of Anxiety Disorder or Depressive Dis...,By Education,United States,High school diploma or GED,-1.0,1,"Nov 30 - Dec 8, 2022",2022-11-30,2022-12-08,NaN
11951,Symptoms of Anxiety Disorder or Depressive Dis...,By Education,United States,Some college/Associate's degree,-1.0,1,"Nov 30 - Dec 8, 2022",2022-11-30,2022-12-08,NaN
11952,Symptoms of Anxiety Disorder or Depressive Dis...,By Education,United States,Bachelor's degree or higher,-1.0,1,"Nov 30 - Dec 8, 2022",2022-11-30,2022-12-08,NaN
11953,Symptoms of Anxiety Disorder or Depressive Dis...,By Disability status,United States,With disability,-1.0,1,"Nov 30 - Dec 8, 2022",2022-11-30,2022-12-08,NaN
11954,Symptoms of Anxiety Disorder or Depressive Dis...,By Disability status,United States,Without disability,-1.0,1,"Nov 30 - Dec 8, 2022",2022-11-30,2022-12-08,NaN

In [19]:
#dropping nans 
mental_health_survey= mental_health_survey.dropna() 
mental_health_survey

,Indicator,Group,State,Subgroup,Phase,Time Period,Time Period Label,Time Period Start Date,Time Period End Date,Value
0,Symptoms of Depressive Disorder,National Estimate,United States,United States,1.0,1,"Apr 23 - May 5, 2020",2020-04-23,2020-05-05,23.5
1,Symptoms of Depressive Disorder,By Age,United States,18 - 29 years,1.0,1,"Apr 23 - May 5, 2020",2020-04-23,2020-05-05,32.7
2,Symptoms of Depressive Disorder,By Age,United States,30 - 39 years,1.0,1,"Apr 23 - May 5, 2020",2020-04-23,2020-05-05,25.7
3,Symptoms of Depressive Disorder,By Age,United States,40 - 49 years,1.0,1,"Apr 23 - May 5, 2020",2020-04-23,2020-05-05,24.8
4,Symptoms of Depressive Disorder,By Age,United States,50 - 59 years,1.0,1,"Apr 23 - May 5, 2020",2020-04-23,2020-05-05,23.2
...,...,...,...,...,...,...,...,...,...,...
13198,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Virginia,Virginia,3.8,57,"Apr 26 - May 8, 2023",2023-04-26,2023-05-08,29.7
13199,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Washington,Washington,3.8,57,"Apr 26 - May 8, 2023",2023-04-26,2023-05-08,31.2
13200,Symptoms of Anxiety Disorder or Depressive Dis...,By State,West Virginia,West Virginia,3.8,57,"Apr 26 - May 8, 2023",2023-04-26,2023-05-08,33.2
13201,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Wisconsin,Wisconsin,3.8,57,"Apr 26 - May 8, 2023",2023-04-26,2023-05-08,27.5
13202,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Wyoming,Wyoming,3.8,57,"Apr 26 - May 8, 2023",2023-04-26,2023-05-08,34.1

In [20]:
mental_health_survey

,Indicator,Group,State,Subgroup,Phase,Time Period,Time Period Label,Time Period Start Date,Time Period End Date,Value
0,Symptoms of Depressive Disorder,National Estimate,United States,United States,1.0,1,"Apr 23 - May 5, 2020",2020-04-23,2020-05-05,23.5
1,Symptoms of Depressive Disorder,By Age,United States,18 - 29 years,1.0,1,"Apr 23 - May 5, 2020",2020-04-23,2020-05-05,32.7
2,Symptoms of Depressive Disorder,By Age,United States,30 - 39 years,1.0,1,"Apr 23 - May 5, 2020",2020-04-23,2020-05-05,25.7
3,Symptoms of Depressive Disorder,By Age,United States,40 - 49 years,1.0,1,"Apr 23 - May 5, 2020",2020-04-23,2020-05-05,24.8
4,Symptoms of Depressive Disorder,By Age,United States,50 - 59 years,1.0,1,"Apr 23 - May 5, 2020",2020-04-23,2020-05-05,23.2
...,...,...,...,...,...,...,...,...,...,...
13198,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Virginia,Virginia,3.8,57,"Apr 26 - May 8, 2023",2023-04-26,2023-05-08,29.7
13199,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Washington,Washington,3.8,57,"Apr 26 - May 8, 2023",2023-04-26,2023-05-08,31.2
13200,Symptoms of Anxiety Disorder or Depressive Dis...,By State,West Virginia,West Virginia,3.8,57,"Apr 26 - May 8, 2023",2023-04-26,2023-05-08,33.2
13201,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Wisconsin,Wisconsin,3.8,57,"Apr 26 - May 8, 2023",2023-04-26,2023-05-08,27.5
13202,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Wyoming,Wyoming,3.8,57,"Apr 26 - May 8, 2023",2023-04-26,2023-05-08,34.1

In [21]:
#looking for dupes -- no dupes in df found 
mental_health_survey.loc[mental_health_survey.duplicated()]

Empty DataFrame
Columns: [Indicator, Group, State, Subgroup, Phase, Time Period, Time Period Label, Time Period Start Date, Time Period End Date, Value]
Index: []

In [22]:
#savinf df 
mental_health_survey.to_csv('../data/mental_health_survey.csv')

In [23]:
covid_df = pd.read_csv('../data/covid_confirmed_usafacts.csv')

In [24]:
covid_df

,countyFIPS,County Name,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2023-07-14,2023-07-15,2023-07-16,2023-07-17,2023-07-18,2023-07-19,2023-07-20,2023-07-21,2023-07-22,2023-07-23
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,19913,19913,19913,19913,19913,19913,19913,19913,19913,19913
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,70521,70521,70521,70521,70521,70521,70521,70521,70521,70521
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,7582,7582,7582,7582,7582,7582,7582,7582,7582,7582
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,8149,8149,8149,8149,8149,8149,8149,8149,8149,8149
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,12645,12645,12645,12645,12645,12645,12645,12645,12645,12645
3189,56039,Teton County,WY,56,0,0,0,0,0,0,...,12206,12206,12206,12206,12206,12206,12206,12206,12206,12206
3190,56041,Uinta County,WY,56,0,0,0,0,0,0,...,6468,6468,6468,6468,6468,6468,6468,6468,6468,6468
3191,56043,Washakie County,WY,56,0,0,0,0,0,0,...,2640,2640,2640,2640,2640,2640,2640,2640,2640,2640
3192,56045,Weston County,WY,56,0,0,0,0,0,0,...,1914,1914,1914,1914,1914,1914,1914,1914,1914,1914

In [25]:
covid_df = pd.melt(frame=covid_df,id_vars= ('countyFIPS','County Name', 'State', 'StateFIPS'), var_name= "date", value_name= "cases")

In [26]:
#combined date to get cases number by state instead of by county 
covid_df = covid_df.groupby(['State', 'date'])['cases'].sum().reset_index()
covid_df

      State        date   cases
0        AK  2020-01-22       0
1        AK  2020-01-23       0
2        AK  2020-01-24       0
3        AK  2020-01-25       0
4        AK  2020-01-26       0
...     ...         ...     ...
64510    WY  2023-07-19  187389
64511    WY  2023-07-20  187389
64512    WY  2023-07-21  187389
64513    WY  2023-07-22  187389
64514    WY  2023-07-23  187389

[64515 rows x 3 columns]

In [27]:
states = {
            'AK': 'Alaska',
            'AL': 'Alabama',
            'AR': 'Arkansas',
            'AS': 'American Samoa',
            'AZ': 'Arizona',
            'CA': 'California',
            'CO': 'Colorado',
            'CT': 'Connecticut',
            'DC': 'District of Columbia',
            'DE': 'Delaware',
            'FL': 'Florida',
            'GA': 'Georgia',
            'GU': 'Guam',
            'HI': 'Hawaii',
            'IA': 'Iowa',
            'ID': 'Idaho',
            'IL': 'Illinois',
            'IN': 'Indiana',
            'KS': 'Kansas',
            'KY': 'Kentucky',
            'LA': 'Louisiana',
            'MA': 'Massachusetts',
            'MD': 'Maryland',
            'ME': 'Maine',
            'MI': 'Michigan',
            'MN': 'Minnesota',
            'MO': 'Missouri',
            'MP': 'Northern Mariana Islands',
            'MS': 'Mississippi',
            'MT': 'Montana',
            'NA': 'National',
            'NC': 'North Carolina',
            'ND': 'North Dakota',
            'NE': 'Nebraska',
            'NH': 'New Hampshire',
            'NJ': 'New Jersey',
            'NM': 'New Mexico',
            'NV': 'Nevada',
            'NY': 'New York',
            'OH': 'Ohio',
            'OK': 'Oklahoma',
            'OR': 'Oregon',
            'PA': 'Pennsylvania',
            'PR': 'Puerto Rico',
            'RI': 'Rhode Island',
            'SC': 'South Carolina',
            'SD': 'South Dakota',
            'TN': 'Tennessee',
            'TX': 'Texas',
            'UT': 'Utah',
            'VA': 'Virginia',
            'VI': 'Virgin Islands',
            'VT': 'Vermont',
            'WA': 'Washington',
            'WI': 'Wisconsin',
            'WV': 'West Virginia',
            'WY': 'Wyoming'
    }

In [28]:
# added pull name of stated to be able to preform df merge 
covid_df['state2'] = covid_df['State'].replace(states)
covid_df

      State        date   cases   state2
0        AK  2020-01-22       0   Alaska
1        AK  2020-01-23       0   Alaska
2        AK  2020-01-24       0   Alaska
3        AK  2020-01-25       0   Alaska
4        AK  2020-01-26       0   Alaska
...     ...         ...     ...      ...
64510    WY  2023-07-19  187389  Wyoming
64511    WY  2023-07-20  187389  Wyoming
64512    WY  2023-07-21  187389  Wyoming
64513    WY  2023-07-22  187389  Wyoming
64514    WY  2023-07-23  187389  Wyoming

[64515 rows x 4 columns]

In [29]:
#filtered for certain dates 
covid_cases_by_state_df = covid_df.loc[(covid_df['date'] >= '2020-04-23') & (covid_df['date'] <= '2023-04-23')].reset_index(drop=True)
covid_cases_by_state_df

      State        date   cases   state2
0        AK  2020-04-23     338   Alaska
1        AK  2020-04-24     340   Alaska
2        AK  2020-04-25     340   Alaska
3        AK  2020-04-26     342   Alaska
4        AK  2020-04-27     346   Alaska
...     ...         ...     ...      ...
55891    WY  2023-04-19  186281  Wyoming
55892    WY  2023-04-20  186281  Wyoming
55893    WY  2023-04-21  186434  Wyoming
55894    WY  2023-04-22  186434  Wyoming
55895    WY  2023-04-23  186434  Wyoming

[55896 rows x 4 columns]

In [30]:
covid_cases_by_state_df['date'] = pd.to_datetime(covid_cases_by_state_df['date'])

In [31]:
covid_cases_by_state_df

      State       date   cases   state2
0        AK 2020-04-23     338   Alaska
1        AK 2020-04-24     340   Alaska
2        AK 2020-04-25     340   Alaska
3        AK 2020-04-26     342   Alaska
4        AK 2020-04-27     346   Alaska
...     ...        ...     ...      ...
55891    WY 2023-04-19  186281  Wyoming
55892    WY 2023-04-20  186281  Wyoming
55893    WY 2023-04-21  186434  Wyoming
55894    WY 2023-04-22  186434  Wyoming
55895    WY 2023-04-23  186434  Wyoming

[55896 rows x 4 columns]

In [32]:
Survey_one_by_state= mental_health_survey.loc[mental_health_survey['Group'] == 'By State']

In [33]:
Survey_one_by_state

,Indicator,Group,State,Subgroup,Phase,Time Period,Time Period Label,Time Period Start Date,Time Period End Date,Value
19,Symptoms of Depressive Disorder,By State,Alabama,Alabama,1.0,1,"Apr 23 - May 5, 2020",2020-04-23,2020-05-05,18.6
20,Symptoms of Depressive Disorder,By State,Alaska,Alaska,1.0,1,"Apr 23 - May 5, 2020",2020-04-23,2020-05-05,19.2
21,Symptoms of Depressive Disorder,By State,Arizona,Arizona,1.0,1,"Apr 23 - May 5, 2020",2020-04-23,2020-05-05,22.4
22,Symptoms of Depressive Disorder,By State,Arkansas,Arkansas,1.0,1,"Apr 23 - May 5, 2020",2020-04-23,2020-05-05,26.6
23,Symptoms of Depressive Disorder,By State,California,California,1.0,1,"Apr 23 - May 5, 2020",2020-04-23,2020-05-05,25.4
...,...,...,...,...,...,...,...,...,...,...
13198,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Virginia,Virginia,3.8,57,"Apr 26 - May 8, 2023",2023-04-26,2023-05-08,29.7
13199,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Washington,Washington,3.8,57,"Apr 26 - May 8, 2023",2023-04-26,2023-05-08,31.2
13200,Symptoms of Anxiety Disorder or Depressive Dis...,By State,West Virginia,West Virginia,3.8,57,"Apr 26 - May 8, 2023",2023-04-26,2023-05-08,33.2
13201,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Wisconsin,Wisconsin,3.8,57,"Apr 26 - May 8, 2023",2023-04-26,2023-05-08,27.5
13202,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Wyoming,Wyoming,3.8,57,"Apr 26 - May 8, 2023",2023-04-26,2023-05-08,34.1

In [34]:
Survey_one_by_state

,Indicator,Group,State,Subgroup,Phase,Time Period,Time Period Label,Time Period Start Date,Time Period End Date,Value
19,Symptoms of Depressive Disorder,By State,Alabama,Alabama,1.0,1,"Apr 23 - May 5, 2020",2020-04-23,2020-05-05,18.6
20,Symptoms of Depressive Disorder,By State,Alaska,Alaska,1.0,1,"Apr 23 - May 5, 2020",2020-04-23,2020-05-05,19.2
21,Symptoms of Depressive Disorder,By State,Arizona,Arizona,1.0,1,"Apr 23 - May 5, 2020",2020-04-23,2020-05-05,22.4
22,Symptoms of Depressive Disorder,By State,Arkansas,Arkansas,1.0,1,"Apr 23 - May 5, 2020",2020-04-23,2020-05-05,26.6
23,Symptoms of Depressive Disorder,By State,California,California,1.0,1,"Apr 23 - May 5, 2020",2020-04-23,2020-05-05,25.4
...,...,...,...,...,...,...,...,...,...,...
13198,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Virginia,Virginia,3.8,57,"Apr 26 - May 8, 2023",2023-04-26,2023-05-08,29.7
13199,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Washington,Washington,3.8,57,"Apr 26 - May 8, 2023",2023-04-26,2023-05-08,31.2
13200,Symptoms of Anxiety Disorder or Depressive Dis...,By State,West Virginia,West Virginia,3.8,57,"Apr 26 - May 8, 2023",2023-04-26,2023-05-08,33.2
13201,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Wisconsin,Wisconsin,3.8,57,"Apr 26 - May 8, 2023",2023-04-26,2023-05-08,27.5
13202,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Wyoming,Wyoming,3.8,57,"Apr 26 - May 8, 2023",2023-04-26,2023-05-08,34.1

In [36]:
merged_mental_health_covid_df = pd.merge(Survey_one_by_state, covid_cases_by_state_df, 
                               left_on = ['State', 'Time Period Start Date'], right_on = ['state2', 'date'],
                               how = 'inner')

In [37]:
merged_mental_health_covid_df

,Indicator,Group,State_x,Subgroup,Phase,Time Period,Time Period Label,Time Period Start Date,Time Period End Date,Value,State_y,date,cases,state2
0,Symptoms of Depressive Disorder,By State,Alabama,Alabama,1.0,1,"Apr 23 - May 5, 2020",2020-04-23,2020-05-05,18.6,AL,2020-04-23,5825,Alabama
1,Symptoms of Anxiety Disorder,By State,Alabama,Alabama,1.0,1,"Apr 23 - May 5, 2020",2020-04-23,2020-05-05,25.6,AL,2020-04-23,5825,Alabama
2,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Alabama,Alabama,1.0,1,"Apr 23 - May 5, 2020",2020-04-23,2020-05-05,30.3,AL,2020-04-23,5825,Alabama
3,Symptoms of Depressive Disorder,By State,Alaska,Alaska,1.0,1,"Apr 23 - May 5, 2020",2020-04-23,2020-05-05,19.2,AK,2020-04-23,338,Alaska
4,Symptoms of Anxiety Disorder,By State,Alaska,Alaska,1.0,1,"Apr 23 - May 5, 2020",2020-04-23,2020-05-05,27.7,AK,2020-04-23,338,Alaska
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8563,Symptoms of Anxiety Disorder,By State,Wisconsin,Wisconsin,3.8,56,"Mar 29 - Apr 10, 2023",2023-03-29,2023-04-10,22.4,WI,2023-03-29,2009729,Wisconsin
8564,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Wisconsin,Wisconsin,3.8,56,"Mar 29 - Apr 10, 2023",2023-03-29,2023-04-10,27.9,WI,2023-03-29,2009729,Wisconsin
8565,Symptoms of Depressive Disorder,By State,Wyoming,Wyoming,3.8,56,"Mar 29 - Apr 10, 2023",2023-03-29,2023-04-10,16.0,WY,2023-03-29,185800,Wyoming
8566,Symptoms of Anxiety Disorder,By State,Wyoming,Wyoming,3.8,56,"Mar 29 - Apr 10, 2023",2023-03-29,2023-04-10,27.6,WY,2023-03-29,185800,Wyoming
8567,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Wyoming,Wyoming,3.8,56,"Mar 29 - Apr 10, 2023",2023-03-29,2023-04-10,30.5,WY,2023-03-29,185800,Wyoming

In [38]:
merged_mental_health_covid_df.to_csv('../data/merged_mental_health_covid_df.csv')

In [41]:
correlation = merged_mental_health_covid_df['Value'].corr(merged_mental_health_covid_df['cases'])
correlation

-0.06713487659340725

In [ ]:
Survey_one_by_state = Survey_one_by_state.loc[Survey_one_by_state['Time Period Start Date'] < '2021-07-01']

In [ ]:
Survey_one_by_state = pd.read_csv('../data/filtered_month_mental_health_data.csv')