In [3]:
import pandas as pd
import numpy as np

In [4]:
covid_age_df = pd.read_csv('../data/COVID-19_Cases_and_Deaths_by_Age_Group.csv')

In [5]:
covid_age_df

,DateUpdated,AgeGroups,Total cases,Confirmed cases,Probable cases,Total case rate,Total deaths,Confirmed deaths,Probable deaths
0,5/27/2021,0-9,21266,19931.0,1335.0,5649.0,1,1.0,0.0
1,5/27/2021,19-Oct,41363,37591.0,3772.0,9128.0,3,3.0,0.0
2,5/27/2021,20-29,60808,54548.0,6260.0,13066.0,10,10.0,0.0
3,5/27/2021,30-39,53926,48970.0,4956.0,12189.0,41,39.0,2.0
4,5/27/2021,40-49,48453,44467.0,3986.0,11196.0,150,119.0,31.0
...,...,...,...,...,...,...,...,...,...
5332,5/26/2021,40-49,48434,44453.0,3981.0,11191.0,149,119.0,30.0
5333,5/26/2021,50-59,51834,48000.0,3834.0,9980.0,452,383.0,69.0
5334,5/26/2021,60-69,34348,32177.0,2171.0,7796.0,1084,934.0,150.0
5335,5/26/2021,70-79,17626,16584.0,1042.0,6528.0,1845,1561.0,284.0
5336,5/26/2021,80 and older,16524,15074.0,1450.0,10006.0,4642,3720.0,922.0

In [9]:
covid_age_df.dtypes

DateUpdated          object
AgeGroups            object
Total cases           int64
Confirmed cases     float64
Probable cases      float64
Total case rate     float64
Total deaths          int64
Confirmed deaths    float64
Probable deaths     float64
dtype: object

In [11]:
age_cat_correction = { '19-Oct' : '18-29' }

In [13]:
covid_age_df['AgeGroups']  = covid_age_df['AgeGroups'].replace(age_cat_correction)

In [14]:
covid_age_df

,DateUpdated,AgeGroups,Total cases,Confirmed cases,Probable cases,Total case rate,Total deaths,Confirmed deaths,Probable deaths
0,5/27/2021,0-9,21266,19931.0,1335.0,5649.0,1,1.0,0.0
1,5/27/2021,18-29,41363,37591.0,3772.0,9128.0,3,3.0,0.0
2,5/27/2021,20-29,60808,54548.0,6260.0,13066.0,10,10.0,0.0
3,5/27/2021,30-39,53926,48970.0,4956.0,12189.0,41,39.0,2.0
4,5/27/2021,40-49,48453,44467.0,3986.0,11196.0,150,119.0,31.0
...,...,...,...,...,...,...,...,...,...
5332,5/26/2021,40-49,48434,44453.0,3981.0,11191.0,149,119.0,30.0
5333,5/26/2021,50-59,51834,48000.0,3834.0,9980.0,452,383.0,69.0
5334,5/26/2021,60-69,34348,32177.0,2171.0,7796.0,1084,934.0,150.0
5335,5/26/2021,70-79,17626,16584.0,1042.0,6528.0,1845,1561.0,284.0
5336,5/26/2021,80 and older,16524,15074.0,1450.0,10006.0,4642,3720.0,922.0